@import "tailwindcss";

@theme {
  --color-primary: #1DB954;
  --color-dark: #121212;
  --color-darker: #000000;
  --color-light: #ffffff;
  --color-gray: #b3b3b3;
}

body {
  background-color: var(--color-darker);
  color: var(--color-light);
  font-family: 'Inter', sans-serif;
}
